<!DOCTYPE html>
<html lang="en">
  {% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS">
    <title>Home Page</title>

</head>
<body>

    <div class="header">
      <div class="title">The Real Owner</div>
      <div class="auth">
        <a href="{% url 'register' %}" class="button">สร้างบัญชี</a> 
         <a href="{% url 'login' %}" class="button">เข้าสู่ระบบ</a>
      </div>
    </div>
    
    <div class="main-content">
      <div class="message-box">
        <p>เว็บไซต์สำหรับลงทะเบียนอุปกรณ์ของคุณ ที่เอาไว้ช่วยจำข้อมูลอุปกรณ์ของคุณ</p>
        <a href="{% url 'register' %}" class="btn">สร้างบัญชี</a>
      </div>
    </div>
    
    {% for item in items %}
    {% if item.image %}
      <img src="{{ item.image.url }}" alt="Profile Picture">
    {% endif %}
    <p>ชื่อ: {{ item.user.name }}</p>
    <p>Phone Number: {{ item.user.phone_number }}</p>
    {% endfor %}
  {% endblock %}
    </body>
</html>
