<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Home.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS">
    <title>Home Page</title>

</head>
<body>
    <div>    
    <header>
        <div class="header"></div>
        <h1 class="title" style="color:rgb(0, 0, 0); font-size:160%;">The Real Owner</h1>
        
    </header>
    <div class="header-container">
        <div class="auth">
             <a href="{% url 'register' %}" class="button">ลงทะเบียน</a> 
             <a href="{% url 'login' %}" class="button">เข้าสู่ระบบ</a>
        </div>
    </div>
    <div class="main-container">
        <div class="large-frame">
            <article class="small-frame">
                <p class="device-name">ชื่ออุปกรณ์: cc</p>
                <img src="https://i.pinimg.com/564x/da/28/aa/da28aad2f8721ec2148c496ee658008f.jpg" alt="รูป" width="100" height="100">
                <p class="device-info">Name: vv</p>
                <p class="device-info">Phone: 0000</p>
            </article>
        </div>
        <div class="large-frame">
            <article class="small-frame">
                <p class="device-name">ชื่ออุปกรณ์: cc</p>
                <img src="https://i.pinimg.com/564x/da/28/aa/da28aad2f8721ec2148c496ee658008f.jpg" alt="รูป" width="100" height="100">
                <p class="device-info">Name: vv</p>
                <p class="device-info">Phone: 0000</p>
            </article>
        </div>
        <div class="large-frame">
            <article class="small-frame">
                <p class="device-name">ชื่ออุปกรณ์: cc</p>
                <img src="https://i.pinimg.com/564x/da/28/aa/da28aad2f8721ec2148c496ee658008f.jpg" alt="รูป" width="100" height="100">
                <p class="device-info">Name: vv</p>
                <p class="device-info">Phone: 0000</p>
            </article>
        </div>
        <div class="large-frame">
            <article class="small-frame">
                <p class="device-name">ชื่ออุปกรณ์: cc</p>
                <img src="https://i.pinimg.com/564x/da/28/aa/da28aad2f8721ec2148c496ee658008f.jpg" alt="รูป" width="100" height="100">
                <p class="device-info">Name: vv</p>
                <p class="device-info">Phone: 0000</p>
            </article>
        </div>
        
    </div>
</body>
</html>
