
{% block content %}
<strong>ชื่อ:</strong> {{ profile.name }}<br>
    <strong>อีเมล:</strong> {{ profile.email }}<br>
    <strong>อายุ:</strong> {{ profile.age }}<br>
    <strong>เพศ:</strong> {{ profile.get_gender_display }}<br>
    <strong>หมายเลขโทรศัพท์:</strong> {{ profile.phone_number }}<br>
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <button type="submit">ออกจากระบบ</button>
  </form>
  <a href="{% url 'create_profile' %}">แก้ไขโปรไฟล์</a>
  <a href="{% url 'create_item' %}">ลงทะเบียน</a>

{% endblock %}
