{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <strong>ชื่อ:</strong> {{ profile.user }}<br>
    <strong>อีเมล:</strong> {{ profile.user.email }}<br>

    <a href="{% url 'create_profile' %}">My account</a>
    
    <div class="content">
      <div class="item">
        <div class="icon"></div>
        <a class="name" href="/item-list/Phone" >Phone</a>
      </div>
      <div class="item">
        <div class="icon"></div>
        <a class="name" href="/item-list/Laptop">Laptop</a>
      </div>
      <div class="item">
        <div class="icon"></div>
        <div class="name">Notebook</div>
      </div>
      <div class="item">
        <div class="icon"></div>
        <div class="name">Earphones</div>
      </div>
      <div class="item add-item">
        <a  href="{% url 'create_item' %}" >+</a>
        
      </div>
    </div>
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <button type="submit">ออกจากระบบ</button>
  </form>
  
  

  
{% endblock %}
