{% load static %}  <!-- This should be at the top of the template, outside of any block tags -->

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/item_detail.css' %}">
<a href="{% url 'item_detail' item_id=item.id %}">View Item Details</a>
<div class="item-detail">
    <h2>{{ item.brand }}</h2>
    <p>{{ item.model }}</p>
    <p>color: {{ item.color }}</p>
    <p>Category: {{ item.category }}</p>
    <p>serial_number: {{ item.serial_number }}</p>
    <img src="{{item.image.url}}" alt="">
    {% if user.is_authenticated and item.owner == user %}
        <button href="{% url 'edit_item' item.id %}" class="edit-link">Edit</button>
        <button href="{% url 'delete_item' item.id %}"  class="delete-link">Delete</button>
        <button onclick="history.back()" class="back-btn">ย้อนกลับ</button>
    {% endif %}
</div>

{% endblock %}
