{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'item_list_phone.css' %}">

{% block content %}
<h1 onclick="history.back()">{{ct}}</h1>
<div class="items-list">
  {% for item in items %}
    <div class="item-card">
      <div class="item-image">
        {% if item.image %}
          <img src="{{ item.image.url }}" alt="{{ item.model }}">
        {% else %}
          <div class="placeholder"></div>
        {% endif %}
      </div>
      <div class="item-details">
        <h3>{{ item.brand }}</h3>
        <p>Model: {{ item.model }}</p>
        <p>Serial: {{ item.serial_number }}</p>
        <p>color: {{ item.color }}</p>
        <p>Category: {{ item.category.name }}</p>
        <h1>ประวัติ</h1>
        <p>store_date_of_purchase: {{ item.store_date_of_purchase }}</p>
        <p>store_of_purchase: {{ item.store_of_purchase}}</p>
        <p>warranty : {{ item.warranty }}</p>
        <p>previous_owner: {{ item.previous_owner}}</p>
        <p>Category: {{ item.description }}</p>
        
        

      </div>
      <a class="edit-button" href="{% url 'edit_item' item.id %}">แก้ไข</a>
    </div>
  {% endfor %}
</div>
{% endblock %}
